[submodule "freetype"]
	path = freetype
	url = https://github.com/freetype/freetype.git
[submodule "logr"]
	path = logr
	url = https://github.com/Soromytko/logr.git
[submodule "msdfgen"]
	path = msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "logr"]
	path = logr
	url = https://github.com/Soromytko/logr.git
